<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.life.decision.support.mapper.QuestionnaireSubmitInformationMapper">
    <resultMap id="baseResultMap" type="com.life.decision.support.pojo.QuestionnaireSubmitInformation">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="questionnaire_id" jdbcType="VARCHAR" property="questionnaireId"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
        <association property="questionnaireInformation" column="questionnaire_id"
                     javaType="com.life.decision.support.pojo.QuestionnaireInformation">
            <id column="questionnaire_id" jdbcType="VARCHAR" property="id"/>
            <result column="questionnaire_description" jdbcType="VARCHAR" property="questionnaireDescription"/>
            <result column="convert_name" jdbcType="VARCHAR" property="questionnaireTypeLabel"/>
        </association>
        <association property="user" column="user_id"
                     javaType="com.life.decision.support.pojo.UserInformation">
            <id column="user_id" jdbcType="VARCHAR" property="id"/>
            <result column="user_name" jdbcType="VARCHAR" property="userName"/>
            <result column="telphone_num" jdbcType="VARCHAR" property="telphoneNum"/>
        </association>
    </resultMap>
    <insert id="insert" parameterType="com.life.decision.support.pojo.QuestionnaireSubmitInformation">
        insert into questionnaire_submit_information (id, user_id, questionnaire_id, create_time, update_time)
        values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{questionnaireId,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="update" parameterType="com.life.decision.support.pojo.QuestionnaireSubmitInformation">
        update questionnaire_submit_information
        set update_time = now()
        where id = #{id}
    </update>

    <select id="findSubmitPage" resultMap="baseResultMap">
        select a.*, b.questionnaire_description, c.user_name, d.convert_name, c.telphone_num as telphoneNum
        from questionnaire_submit_information a
                 left join (select * from questionnaire_information where del_flag = 0) b on a.questionnaire_id = b.id
                 left join user_information c on a.user_id = c.id
                 left join (select * from sys_dict where column_name = 'questionnaire_type') d
                           on b.questionnaire_type = d.column_value
    </select>
    <select id="getById" resultMap="baseResultMap">
        select *
        from questionnaire_submit_information
        where id = #{id}
    </select>
    <select id="listSubmitMsg" resultType="com.life.decision.support.dto.SubmitOfTheQuestionnaireGroup">
        select t.id as questionnaireId, dict.convert_name as questionnaireName, IFNULL(sub.count, 0) as submitCount
        from questionnaire_information t
                 LEFT JOIN (select * from sys_dict where column_name = 'questionnaire_type') dict
                           on t.questionnaire_type = dict.column_value
                 left join (select count(*) as count, questionnaire_id
                            from questionnaire_submit_information
                            where user_id = #{userId}
                            group by questionnaire_id) sub on t.id = sub.questionnaire_id
    </select>
</mapper>
