<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.life.decision.support.mapper.QuestionnaireSubmitInformationMapper">
    <resultMap id="baseResultMap" type="com.life.decision.support.pojo.QuestionnaireSubmitInformation">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="questionnaire_id" jdbcType="VARCHAR" property="questionnaireId"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
        <result column="is_admin_submit" jdbcType="VARCHAR" property="isAdminSubmit"/>
        <result column="questionnaire_status" jdbcType="VARCHAR" property="questionnaireStatus"/>
        <result column="questionnaire_status_name" jdbcType="VARCHAR" property="questionnaireStatusName"/>
        <result column="group_id" jdbcType="VARCHAR" property="groupId"/>
        <association property="questionnaireInformation" column="questionnaire_id"
                     javaType="com.life.decision.support.pojo.QuestionnaireInformation">
            <id column="questionnaire_id" jdbcType="VARCHAR" property="id"/>
            <result column="questionnaire_description" jdbcType="VARCHAR" property="questionnaireDescription"/>
            <result column="convert_name" jdbcType="VARCHAR" property="questionnaireTypeLabel"/>
        </association>
        <association property="user" column="user_id"
                     javaType="com.life.decision.support.pojo.UserInformation">
            <id column="user_id" jdbcType="VARCHAR" property="id"/>
            <result column="user_name" jdbcType="VARCHAR" property="userName"/>
            <result column="telphoneNum" jdbcType="VARCHAR" property="telphoneNum"/>
        </association>
    </resultMap>

    <insert id="insert" parameterType="com.life.decision.support.pojo.QuestionnaireSubmitInformation">
        insert into questionnaire_submit_information (id, user_id,
        <if test="questionnaireStatus != null">
            questionnaire_status,
        </if>
        <if test="isAdminSubmit != null">
            is_admin_submit,
        </if>
        questionnaire_id, create_time, update_time)
        values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
        <if test="questionnaireStatus != null">
            #{questionnaireStatus},
        </if>
        <if test="isAdminSubmit != null">
            #{isAdminSubmit},
        </if>
        #{questionnaireId,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="update" parameterType="com.life.decision.support.pojo.QuestionnaireSubmitInformation">
        update questionnaire_submit_information
        set
        <if test="questionnaireStatus != null">
            questionnaire_status = #{questionnaireStatus},
        </if>
        <if test="isAdminSubmit != null">
            is_admin_submit = #{isAdminSubmit},
        </if>
        update_time = now()
        where id = #{id}
    </update>

    <select id="findSubmitPage" resultMap="baseResultMap">
        select a.*,
        b.questionnaire_description,
        c.user_name,
        d.convert_name,
        c.telphone_num as telphoneNum,
        e.convert_name as questionnaire_status_name,
        gr.group_id
        from questionnaire_submit_information a
        left join (select * from questionnaire_information where del_flag = 0) b on a.questionnaire_id = b.id
        left join user_information c on a.user_id = c.id
        left join (select * from sys_dict where column_name = 'questionnaire_type') d
        on b.questionnaire_type = d.column_value
        left join (select * from sys_dict where column_name = 'questionnaire_status') e
        on a.questionnaire_status = e.column_value
        left join questionnaire_group_information gr on gr.submit_id = a.id
        <where>
            <if test="user != null and user.telphoneNum != null and user.telphoneNum != ''">
                AND c.telphone_num like concat('%',#{user.telphoneNum},'%')
            </if>
            <if test="user != null and user.userName != null and user.userName != ''">
                AND c.user_name like concat('%',#{user.userName},'%')
            </if>
            <if test="questionnaireId != null and questionnaireId != ''">
                AND a.questionnaire_id = #{questionnaireId}
            </if>
            <if test="questionnaireStatus != null and questionnaireStatus != ''">
                AND a.questionnaire_status = #{questionnaireStatus}
            </if>
            <if test="queryEndDate != null and queryEndDate != ''">
                AND date_format(a.create_time ,'%Y-%m-%d') &lt;= #{queryEndDate}
            </if>
            <if test="queryStartDate != null and queryStartDate != ''">
                AND date_format(a.create_time ,'%Y-%m-%d') &gt;= #{queryStartDate}
            </if>
        </where>
        order by a.update_time desc
    </select>

    <select id="getById" resultMap="baseResultMap">
        select *
        from questionnaire_submit_information
        where id = #{id}
    </select>

    <select id="listSubmitMsg" resultType="com.life.decision.support.dto.SubmitOfTheQuestionnaireGroup">
        select t.id as questionnaireId, dict.convert_name as questionnaireName, IFNULL(sub.count, 0) as submitCount
        from questionnaire_information t
                 LEFT JOIN (select * from sys_dict where column_name = 'questionnaire_type') dict
                           on t.questionnaire_type = dict.column_value
                 left join (select count(*) as count, questionnaire_id
                            from questionnaire_submit_information
                            where user_id = #{userId}
                            group by questionnaire_id) sub on t.id = sub.questionnaire_id
    </select>

    <select id="listIdByGroupIds" resultType="com.life.decision.support.pojo.QuestionnaireSubmitInformation">
        select a.*
        from questionnaire_submit_information a
        where a.id in (select submit_id
        from questionnaire_group_information
        where group_id in (
        <foreach collection="list" item="it" separator=",">
            #{it,jdbcType=VARCHAR}
        </foreach>
        )
        )
        and a.questionnaire_status = 1
    </select>

    <select id="getGroupIdByDate" resultType="java.lang.String">
        select distinct group_id
        from questionnaire_group_information
        <where>
            <if test="startDate != null">
                and create_date &gt; #{startDate}
            </if>
            <if test="endDate != null">
                and create_date &lt; #{endDate}
            </if>
        </where>
    </select>

    <select id="listGroupByUserIdAndGroupId" resultType="cn.hutool.json.JSONObject">
        select count(*)                       as count,
               user_id                        as userId,
               group_id                       as groupId,
               group_concat(questionnaire_id) as questionnaireId
        from questionnaire_group_information
        group by user_id, group_id
    </select>

    <select id="listLatestSubmittedQuestionnaire"
            resultType="com.life.decision.support.pojo.QuestionnaireSubmitInformation">
        select a.*
        from questionnaire_submit_information a
                 right join (select max(create_time) as create_time, questionnaire_id
                             from questionnaire_submit_information
                             where user_id = #{userId}
                               and questionnaire_status = '1'
                             group by questionnaire_id) b
                            on a.create_time = b.create_time and a.questionnaire_id = b.questionnaire_id
        where a.user_id = #{userId}
    </select>

    <select id="getCountByHasFinish" resultType="java.lang.Integer">
        select count(*)
        from questionnaire_submit_information
        where id in (
        <foreach collection="ids" item="id" separator=",">
            #{id}
        </foreach>
        )
    </select>

    <select id="listByGroupId" resultType="com.life.decision.support.pojo.QuestionnaireSubmitInformation">
        select *
        from questionnaire_submit_information
        where id in (select submit_id from questionnaire_group_information where group_id = #{groupId})
    </select>
</mapper>
