<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.life.decision.support.mapper.QuestionnaireInformationMapper">
    <resultMap id="BaseResultMap" type="com.life.decision.support.pojo.QuestionnaireInformation">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="questionnaire_description" property="questionnaireDescription" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER"/>
        <result column="questionnaire_type" property="questionnaireType" jdbcType="INTEGER"/>
        <result column="comment" property="comment" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, questionnaire_description, create_date, update_date, del_flag, questionnaire_type,comment
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from questionnaire_information
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from questionnaire_information
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.life.decision.support.pojo.QuestionnaireInformation">
        insert into questionnaire_information (id, questionnaire_description, create_date,
                                               update_date, del_flag, questionnaire_type, comment)
        values (#{id,jdbcType=VARCHAR}, #{questionnaireDescription,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
                #{updateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=INTEGER}, #{questionnaireType,jdbcType=INTEGER},
                #{comment})
    </insert>
    <insert id="insertSelective" parameterType="com.life.decision.support.pojo.QuestionnaireInformation">
        insert into questionnaire_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="questionnaireDescription != null">
                questionnaire_description,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="questionnaireType != null">
                questionnaire_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="questionnaireDescription != null">
                #{questionnaireDescription,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="questionnaireType != null">
                #{questionnaireType,jdbcType=INTEGER},
            </if>
            <if test="comment != null">
                #{comment},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.life.decision.support.pojo.QuestionnaireInformation">
        update questionnaire_information
        <set>
            <if test="questionnaireDescription != null">
                questionnaire_description = #{questionnaireDescription,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=INTEGER},
            </if>
            <if test="questionnaireType != null">
                questionnaire_type = #{questionnaireType,jdbcType=INTEGER},
            </if>
            <if test="comment != null">
                comment = #{comment},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.life.decision.support.pojo.QuestionnaireInformation">
        update questionnaire_information
        set questionnaire_description = #{questionnaireDescription,jdbcType=VARCHAR},
            create_date               = #{createDate,jdbcType=TIMESTAMP},
            update_date               = #{updateDate,jdbcType=TIMESTAMP},
            del_flag                  = #{delFlag,jdbcType=INTEGER},
            questionnaire_type        = #{questionnaireType,jdbcType=INTEGER},
            comment                   = #{comment}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>