<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.life.decision.support.mapper.QuestionInformationMapper">
    <resultMap id="BaseResultMap" type="com.life.decision.support.dto.QuestionInformationDto">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="questionnaire_id" property="questionnaireId" jdbcType="VARCHAR"/>
        <result column="question_sort" property="questionSort" jdbcType="DOUBLE"/>
        <result column="big_label_id" property="bigLabelId" jdbcType="VARCHAR"/>
        <result column="question_type" property="questionType" jdbcType="INTEGER"/>
        <result column="question_name" property="questionName" jdbcType="LONGVARCHAR"/>
        <result column="big_label" property="bigLabel" jdbcType="VARCHAR"/>
        <collection property="optionInformationList" javaType="java.util.ArrayList"
                    ofType="com.life.decision.support.pojo.OptionInformation">
            <id column="oid" property="id" jdbcType="VARCHAR"/>
            <result column="questionnaire_id" property="questionnaireId" jdbcType="VARCHAR"/>
            <result column="question_id" property="questionId" jdbcType="VARCHAR"/>
            <result column="option_value" property="optionValue" jdbcType="VARCHAR"/>
            <result column="fill_enabled" property="fillEnabled" jdbcType="INTEGER"/>
            <result column="option_sort" property="optionSort" jdbcType="INTEGER"/>
            <result column="associated_jump_id" property="associatedJumpId" jdbcType="VARCHAR"/>
        </collection>
        <collection property="child" javaType="java.util.ArrayList"
                    ofType="com.life.decision.support.dto.QuestionInformationDto">
            <id column="w_id" property="id" jdbcType="VARCHAR"/>
            <result column="w_questionnaire_id" property="questionnaireId" jdbcType="VARCHAR"/>
            <result column="w_question_sort" property="questionSort" jdbcType="DOUBLE"/>
            <result column="w_big_label_id" property="bigLabelId" jdbcType="VARCHAR"/>
            <result column="w_question_type" property="questionType" jdbcType="INTEGER"/>
            <result column="w_question_name" property="questionName" jdbcType="LONGVARCHAR"/>
            <collection property="optionInformationList" javaType="java.util.ArrayList"
                        ofType="com.life.decision.support.pojo.OptionInformation">
                <id column="q_id" property="id" jdbcType="VARCHAR"/>
                <result column="q_questionnaire_id" property="questionnaireId" jdbcType="VARCHAR"/>
                <result column="q_question_id" property="questionId" jdbcType="VARCHAR"/>
                <result column="q_option_value" property="optionValue" jdbcType="VARCHAR"/>
                <result column="q_fill_enabled" property="fillEnabled" jdbcType="INTEGER"/>
                <result column="q_option_sort" property="optionSort" jdbcType="INTEGER"/>
                <result column="q_associated_jump_id" property="associatedJumpId" jdbcType="VARCHAR"/>
            </collection>
        </collection>
    </resultMap>
    <sql id="baseColumnList">
        a
        .
        id
        , a.questionnaire_id, a.question_sort, a.big_label_id, a.question_type, a.question_name,
        b.id AS 'oid', b.question_id, b.fill_enabled, b.option_sort, b.associated_jump_id, b.option_value,
        w_id, w_questionnaire_id, w_question_sort, w_big_label_id, w_question_type,  w_question_name,
        q_id, q_question_id, q_fill_enabled, q_option_sort, q_associated_jump_id, q_option_value,
sd.convert_name as 'big_label'
    </sql>

    <sql id="leftJoin">
        LEFT JOIN option_information b ON a.id = b.question_id
                 LEFT JOIN (
            SELECT w.id                 AS 'w_id',
                   w.questionnaire_id   AS 'w_questionnaire_id',
                   w.question_sort      AS 'w_question_sort',
                   w.big_label_id       AS 'w_big_label_id',
                   w.question_type      AS 'w_question_type',
                   w.question_name      AS 'w_question_name',
                   w.parent_id,
                   q.id                 AS 'q_id',
                   q.question_id        AS 'q_question_id',
                   q.fill_enabled       AS 'q_fill_enabled',
                   q.option_sort        AS 'q_option_sort',
                   q.associated_jump_id AS 'q_associated_jump_id',
                   q.option_value       AS 'q_option_value'
            FROM question_information w
                     LEFT JOIN option_information q ON w.id = q.question_id
            WHERE parent_id IS NOT NULL
        ) c ON a.id = c.parent_id
        LEFT JOIN (select * from sys_dict where column_name = 'big_label') sd on a.big_label_id = sd.column_value
    </sql>

    <select id="listById" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="baseColumnList"/>
        FROM (SELECT * FROM question_information WHERE parent_id IS NULL) a
        <include refid="leftJoin"/>
        <if test="questionnaireId != null and questionnaireId != '' ">
            where a.questionnaire_id = #{questionnaireId}
        </if>
        order by a.questionnaire_id, a.big_label_id, a.question_sort, b.option_sort
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from question_information
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.life.decision.support.pojo.QuestionInformation">
        insert into question_information (id, questionnaire_id, question_sort,
                                          big_label_id, question_type, question_name)
        values (#{id,jdbcType=VARCHAR}, #{questionnaireId,jdbcType=VARCHAR}, #{questionSort},
                #{bigLabelId,jdbcType=VARCHAR}, #{questionType,jdbcType=INTEGER}, #{questionName,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.life.decision.support.pojo.QuestionInformation">
        insert into question_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="questionnaireId != null">
                questionnaire_id,
            </if>
            <if test="questionSort != null">
                question_sort,
            </if>
            <if test="bigLabelId != null">
                big_label_id,
            </if>
            <if test="questionType != null">
                question_type,
            </if>
            <if test="questionName != null">
                question_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="questionnaireId != null">
                #{questionnaireId,jdbcType=VARCHAR},
            </if>
            <if test="questionSort != null">
                #{questionSort},
            </if>
            <if test="bigLabelId != null">
                #{bigLabelId,jdbcType=VARCHAR},
            </if>
            <if test="questionType != null">
                #{questionType,jdbcType=INTEGER},
            </if>
            <if test="questionName != null">
                #{questionName,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.life.decision.support.pojo.QuestionInformation">
        update question_information
        <set>
            <if test="questionnaireId != null">
                questionnaire_id = #{questionnaireId,jdbcType=VARCHAR},
            </if>
            <if test="questionNum != null">
                question_sort = #{questionSort},
            </if>
            <if test="bigLabelId != null">
                big_label_id = #{bigLabelId,jdbcType=VARCHAR},
            </if>
            <if test="questionType != null">
                question_type = #{questionType,jdbcType=INTEGER},
            </if>
            <if test="questionName != null">
                question_name = #{questionName,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.life.decision.support.pojo.QuestionInformation">
        update question_information
        set questionnaire_id = #{questionnaireId,jdbcType=VARCHAR},
            question_sort    = #{questionSort},
            big_label_id     = #{bigLabelId,jdbcType=VARCHAR},
            question_type    = #{questionType,jdbcType=INTEGER},
            question_name    = #{questionName,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.life.decision.support.pojo.QuestionInformation">
        update question_information
        set questionnaire_id = #{questionnaireId,jdbcType=VARCHAR},
            question_sort    = #{questionSort},
            big_label_id     = #{bigLabelId,jdbcType=VARCHAR},
            question_type    = #{questionType,jdbcType=INTEGER}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>