<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.life.decision.support.mapper.UserInformationMapper">

    <resultMap id="UserInformation" type="com.life.decision.support.pojo.UserInformation">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="telphone_num" property="telphoneNum" jdbcType="INTEGER"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="admin_enable" property="adminEnable" jdbcType="INTEGER"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="date_of_birth" property="dateOfBirth" jdbcType="DATE"/>
        <result column="height" property="height" jdbcType="DOUBLE"/>
        <result column="weight" property="weight" jdbcType="DOUBLE"/>
        <result column="educational_level" property="educationalLevel" jdbcType="INTEGER"/>
        <result column="occupation" property="occupation" jdbcType="INTEGER"/>
        <result column="marital_status" property="maritalStatus" jdbcType="INTEGER"/>
        <result column="household_income" property="householdIncome" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="UserInformationDto" type="com.life.decision.support.dto.UserInformationDto">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="telphone_num" property="telphoneNum" jdbcType="INTEGER"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="admin_enable" property="adminEnable" jdbcType="INTEGER"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="date_of_birth" property="dateOfBirth" jdbcType="DATE"/>
        <result column="height" property="height" jdbcType="DOUBLE"/>
        <result column="weight" property="weight" jdbcType="DOUBLE"/>
        <result column="educational_level" property="educationalLevel" jdbcType="INTEGER"/>
        <result column="occupation" property="occupation" jdbcType="INTEGER"/>
        <result column="educational_level" property="educationalLevel" jdbcType="INTEGER"/>
        <result column="marital_status" property="marital" jdbcType="INTEGER"/>
        <result column="household_income" property="householdIncome" jdbcType="VARCHAR"/>
        <result column="educationalLevel_dto" property="educationalLevelDto" jdbcType="VARCHAR"/>
        <result column="occupation_dto" property="occupationDto" jdbcType="VARCHAR"/>
        <result column="sex_dto" property="sexDto" jdbcType="VARCHAR"/>
        <result column="marital_dto" property="maritalDto" jdbcType="VARCHAR"/>
        <result column="household_income_dto" property="householdIncomeDto" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseList">
        a
        .
        *
        ,
        b.convert_name as "sex_dto",
        c.convert_name as "identity",
        d.convert_name as "educationalLevel_dto",
        e.convert_name as "occupation_dto",
        f.convert_name as "marital_dto",
        g.convert_name as "household_income_dto",
        convert(a.weight/POWER(a.height/100,2), decimal(3,1)) as "bmi"
    </sql>

    <sql id="baseJoins">
        LEFT JOIN (select * from sys_dict where column_name = 'sex') b on a.sex = b.column_value
        LEFT JOIN (select * from sys_dict where column_name = 'identity') c on a.admin_enable = c.column_value
        LEFT JOIN (select * from sys_dict where column_name = 'educational_level') d on a.educational_level =
        d.column_value
        LEFT JOIN (select * from sys_dict where column_name = 'occupation') e on a.occupation = e.column_value
        LEFT JOIN (select * from sys_dict where column_name = 'marital_status') f on a.marital_status = f.column_value
        LEFT JOIN (select * from sys_dict where column_name = 'household_income') g on a.household_income = g.column_value
    </sql>

    <select id="getUser" resultMap="UserInformationDto">
        select
        <include refid="baseList"/>
        from user_information a
        <include refid="baseJoins"/>
        <where>
            <if test="id != null and id != ''">
                AND a.id = #{id}
            </if>
            <if test="telphoneNum != null and telphoneNum != ''">
                AND a.telphone_num = #{telphoneNum}
            </if>
            <if test="userName != null and userName != ''">
                AND a.user_name = #{userName}
            </if>
        </where>
    </select>

    <select id="findList" resultMap="UserInformationDto">
        select
        <include refid="baseList"/>
        from user_information a
        <include refid="baseJoins"/>
        <where>
            <if test="id != null and id != ''">
                AND a.id = #{id}
            </if>
            <if test="telphoneNum != null and telphoneNum != ''">
                AND a.telphone_num like concat('%', #{telphoneNum},'%')
            </if>
            <if test="userName != null and userName != ''">
                AND a.user_name = #{userName}
            </if>
            <if test="sex != null and sex != ''">
                AND a.sex = #{sex}
            </if>
            <if test="adminEnable != null and adminEnable != ''">
                AND a.admin_enable = #{adminEnable}
            </if>
            <if test="educationalLevel != null and educationalLevel != ''">
                AND a.educational_level = #{educationalLevel}
            </if>
            <if test="occupation != null and occupation != ''">
                AND a.occupation = #{occupation}
            </if>
            <if test="maritalStatus != null and maritalStatus != ''">
                AND a.marital_status = #{maritalStatus}
            </if>
            <if test="householdIncome != null and householdIncome != ''">
                AND a.household_income = #{householdIncome}
            </if>
        </where>
    </select>
    <select id="verifyIdentified" resultType="java.lang.Integer">
        SELECT count(*)
        from user_information
        where telphone_num = #{telphoneNum}
          and password = #{password}
    </select>

    <insert id="insert">
        INSERT INTO user_information(id, user_name, telphone_num, password, admin_enable, sex, date_of_birth, height,
                                     weight, educational_level, occupation, marital_status, household_income)
            value (#{id}, #{userName}, #{telphoneNum}, #{password}, #{adminEnable}, #{sex}, #{dateOfBirth}, #{height},
            #{weight}, #{educationalLevel}, #{occupation},#{maritalStatus},#{householdIncome})
    </insert>

    <update id="update">
        UPDATE user_information
        <trim prefix="SET " suffixOverrides=",">
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="adminEnable != null">
                admin_enable = #{adminEnable},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="dateOfBirth != null">
                date_of_birth = #{dateOfBirth},
            </if>
            <if test="weight != null">
                weight = #{weight},
            </if>
            <if test="height != null">
                height = #{height},
            </if>
            <if test="occupation != null">
                occupation = #{occupation},
            </if>
            <if test="educationalLevel != null">
                educational_level = #{educationalLevel},
            </if>
            <if test="maritalStatus != null">
                marital_status = #{maritalStatus},
            </if>
            <if test="householdIncome != null">
                household_income = #{householdIncome},
            </if>
        </trim>
        <where>
            <if test="telphoneNum != null">
                AND telphone_num = #{telphoneNum}
            </if>
            <if test="id != null">
                AND id = #{id}
            </if>
        </where>
    </update>


    <update id="delete">
        DELETE
        FROM user_information
        <where>
            <if test="telphoneNum != null">
                telphone_num = #{telphoneNum},
            </if>
            <if test="password != null">
                id = #{id},
            </if>
        </where>
    </update>

    <update id="changePassword">
        UPDATE user_information
        set password = #{newPwd}
        where id = #{userId}
    </update>
</mapper>